<div ng-init = "getArticles()">
	

	<!-- <div class="container"> -->
	<select class="form-control" ng-model="article_category.selectedCategory" ng-click = "getCategoryData(article_category)" placeholder = "SELECT THE CATEGORY YOU WANT TO READ" >
		
		<option ng-repeat="article_category in article_categories">{{article_category.category}}</option>
		<!-- <p><strong>{{article_detail.category | uppercase}}</strong></h6></p> -->
	</select>
				
	<h2><strong>CLICK TO READ YOUR ARTICLE</strong></h2>
<!-- pagination button -->
	<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="btn btn-primary"> Previous </button>
      {{currentPage+1}}/{{numberOfPages()}}
    <button ng-disabled="currentPage >= page_size - 1" ng-click="currentPage=currentPage+1" class="btn btn-primary"> Next </button>

    <!-- pagination button-->

		<table class="table table-hover">
			<!-- <tc>
				<th>ID</th>
				<th>TITLE</th>
				<th>ARTICLE</th>
				<th>WRITOR</th>
			</tc> -->


			<!--REQUIRED FOR PAGINATION -->
			<tr ng-repeat="article_detail in article_details | startFrom:currentPage*pageSize | limitTo:pageSize" ng-click = "commenting(article_detail) " >
				<!-- PAGINATION -->
				<td>
					<p> <strong>{{article_detail.title | uppercase}} </strong></p>
					<p>  <h6>WRITTEN BY: {{article_detail.writer}}  <strong>{{article_detail.category | uppercase}}</strong></h6></p>
					
					<p><h6>POSTED ON: {{article_detail.published_on}}</h6></p>
				</td>
				
				<!-- <td>{{article_detail.writer}}</td> -->
				<!-- <td>
					<a href = "javascript:void(0);"><button class="btn btn-success" ng-click="getDataForUpdate(article_detail)" ><span class="glyphicon glyphicon-edit"></span></button></a>
				</td> -->
<!-- 				<td>
					<button class="btn btn-warning" ng-click="delete(article_detail)" ><span class="glyphicon glyphicon-trash"></span></button>
				</td> -->
			<!-- 	<td>
					<button class="btn btn-info" ng-click="commenting(article_detail)" ><span class="glyphicon glyphicon-edit"></span></button>
				</td> -->
			</tr>
			<!-- <p ng-bind-html = "article_article"></p> -->
		</table>
	<!-- </div> -->
</div>